{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/styless.css"%}' type="text/css">
    <title>Document</title>
</head>


<body>

    <header class="contenedorheader" id="contenedorheader">
       <div class="titulologo">
        <h1 class="titulo">Cooperativa de Ahoro y Vivienda </h1>
        <div class="logo"></div>
      </div>

        <nav class="nav">
            <ul class="ul">
                <li><a href="">Nosotros</a></li>
                <li><a href="frmcliente.html">Registro</a></li>
                <li><a href="consultarclientes.html">Consultar</a></li>
                <li><a href="/login/">Iniciar sesion</a></li>
             

            </ul>
        </nav>
    </header>
    <main class="mail">
        <section class="sectionuno">
            <article class="art1" id="article1">
                <h2>Economia internacional</h2>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iure dolorem tempore beatae
                    architecto quo, quasi eaque adipisci consectetur illo tenetur necessitatibus reiciendis cum
                    doloribus! Quibusdam perspiciatis eveniet delectus nesciunt!
                </p>
            </article>
            <article class="art1" id="article2">
                <h2>Economia nacional</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut quasi, delectus aspernatur veritatis
                    voluptate, magnam excepturi dignissimos, expedita rem quis aliquid dolorem laborum doloremque
                    tempora ducimus distinctio voluptatem at.</p>
                <img src="" alt="">
            </article>
            <article class="art1" id="article3">
                <h2>Economia nacional</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut quasi, delectus aspernatur veritatis
                    voluptate, magnam excepturi dignissimos, expedita rem quis aliquid dolorem laborum doloremque
                    tempora ducimus distinctio voluptatem at.</p>
                <img src="" alt="">
            </article>
            <article class="art1" id="article4">
                <h2>Economia nacional</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut quasi, delectus aspernatur veritatis
                    voluptate, magnam excepturi dignissimos, expedita rem quis aliquid dolorem laborum doloremque
                    tempora ducimus distinctio voluptatem at.</p>
                <img src="" alt="">
            </article>
        </section>
        

    </main>

    <footer>


    </footer>

</body>

</html>